fastapi
uvicorn[standard]
httpx
pydantic
sqlalchemy>=1.4
asyncpg
aioredis
redis>=5.0
python-dotenv
websockets
sqlalchemy[asyncio]
pydantic-settings
prometheus_client
PyJWT
passlib[bcrypt]
numpy
pandas
scikit-learn
xgboost
